* {
  --main-yellow: rgb(251, 202, 60);
}

.ProfileContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.SwiperboxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 58vw;
  height: 30rem;
  border-radius: 10px;
  margin-left: 5vw;
  left: 30vw; /* Adjust the left positioning */
  right: 0;
  top: 30vh;
}

.profileSwiperHeaders {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 17rem;
  margin-bottom: 26rem;
  margin-right: 40-vw;
}

.swiperStats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 17rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin-right: 12vw;
  width: 100vw;
}

.ProfileData {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  /* margin-left: auto;  Center the container horizontally 
  margin-right: auto;  Center the container horizontally  */
  left: 50px;
  right: 0;
  top: 21vh;
}
.ProfileAvatar {
  position: absolute;
  bottom: 25vh;
  padding: 1rem;
  border: 6px solid #ffffff;
}

#ProfileName {
  position: absolute;
  bottom: 20vh;
  font-size: 2.1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000;
  margin-bottom: 10rem;
}

.ProfileTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.signOutbtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  height: 0vh;
}

.ProfileName {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000;
  margin-bottom: 1rem;
}

.profileSwiperStats {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 12;
  align-items: center;
}

.bottomNav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  bottom: 1vh;
}

.navExtenderProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
  background-color: var(--main-yellow);
}
