.swiper {
  width: 30vw;
  bottom: 0;
  margin-bottom: 20px;
  left: 10vw;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 3rem;
}

.swiper-slide {
  width: 32% !important;
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide > img {
  display: block;
  width: 10vw;
  /* height: 42vh;*/
}

/* Swiper stats */

.swiper-Stats {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 7vh;
  left: 8vw;
}

.profileSwiperHeaders {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  top: 2vh;
  right: 4vw;
}

.ProfileTitle {
  position: static;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 2vh;
  right: 4vw;
  width: 34rem;
}

.text-container {
  width: 300px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#swiperPokeName {
  font-size: 2.3vw;
  font-weight: 640;
}

.swiperIconsandText {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
  width: 4vw;
}

#swiperAttacks{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2.5rem;
}
