.swiper {
  width: 75%;
  bottom: 0;
  margin-bottom: 20px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 3rem;
}

.swiper-slide {
  width: 32% !important;
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* .swiper-slide > img {
  display: block;
  /* height: 42vh; */
