html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url("/public/Loading/desktop-1920x1080.jpg") no-repeat center
    center fixed;
  background-size: cover;
  /* background-color: #282c34; */
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  padding: 0 5%;
  box-sizing: border-box;
  overflow: auto;
}

section.mainContent {
  position: absolute;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url("/public/Loading/8635.jpg") no-repeat center center fixed;
  background-size: cover;
  /* background-color: #282c34; */
}

/* i need the pokemonTitle to grow and shrink, its an image */
#pokemonTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60vw;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
